# Environment variables
.env

# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE & Editor artifacts
.vscode/
.idea/
*.swp
*.swo
